@import '../../../styles.scss';

#navigation {
  background-color: var(--navigation-header);
  padding: var(--spacing-md);
  box-shadow: var(--shadow-md);
	display: flex;
	justify-content: space-around;

  h1 {
    font-size: var(--font-size-xxl);
    color: var(--text-light);
    margin: 0;
    font-weight: var(--font-weight-bold);
		cursor: default;
  }

  .my-icon {
    margin-left: var(--spacing-sm);
    font-size: var(--font-size-lg);
    transition: var(--transition-fast);
    
    &:hover {
      transform: scale(1.1);
			cursor: pointer;
    }
  }

  .nav-icons{
    position: relative;

    .cart-count{
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: rgb(215, 57, 57);
      color: var(--text-light);
      border-radius: 50%;
      padding: 0.1rem 0.4rem;
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-bold);
    }
  }

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}
