<div id="product-container">
  <div class="product-image">
    <img
      class="img-fluid"
      src="{{ product.image }}"
      alt="{{ product.title }}"
    />
  </div>
  <div class="product-details">
    <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
  </div>
  <div class="product-price">
    <p>Price: {{ product.price | currency : "USD" }}</p>
    <button class="add-cart" *ngIf="!addedToCart" (click)="addToCart(product)">
      Add to Cart
    </button>
    <button class="remove-cart" *ngIf="addedToCart" (click)="removeFromCart(product.id)">
      Remove from Cart
    </button>
  </div>
</div>
