<div class="product-group">
	<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>
<app-product-card></app-product-card>


</div>